:root {
  --dark-primary: #202c36;
  --dark-secondary: #2b3844;
  --white: #ffffff;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #fafafa;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.625rem;
  padding-block: 1rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

body.dark .navbar {
  background-color: var(--dark-secondary);
}

.header {
  font-weight: 600;
  font-size: 1.25rem;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.mode-change {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mode-change:hover {
  cursor: pointer;
}

main {
  padding-inline: 1rem;
  padding-block: 2rem;
}

.search-filter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  padding-top: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 2rem 0rem;
  padding-block: 0.75rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.search-input::-webkit-search-cancel-button {
  display: none;
}

.filter-by-region {
  padding: 0.75rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 210px;
  cursor: pointer;
}

body.dark .filter-by-region {
  background: var(--dark-secondary);
}

.open-dropdown,
.close-btn {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0px;
  z-index: 10;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

body.dark .dropdown {
  background-color: var(--dark-secondary);
}

.dropdown > div {
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.dropdown > div:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.countries-wrapper {
  height: 80vh;
  overflow-y: auto;
  margin-top: 3rem;
  padding-inline: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 260px;
  gap: 5rem;
  place-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  overflow: hidden;
}

body.dark .card {
  background-color: var(--dark-secondary);
}

.card-image {
  width: 264px;
  height: 160px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-block: 0.25rem 1.5rem;
  padding-inline: 1.5rem;
}

.card-info-details {
  display: flex;
  flex-direction: column;
}

body.dark {
  background-color: var(--dark-primary);
  color: #ffffff;
}

body.dark .search-form {
  background-color: var(--dark-secondary);
}

body.dark .search-input {
  color: #ffffff;
}

body.dark .search-input::placeholder {
  color: #ffffff;
}

::placeholder {
  color: #848484;
}

body.dark .dropdown > div:hover {
  background-color: #101b25;
}

@media screen and (min-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 260px);
  }
  .search-filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .search-bar {
    width: 480px;
  }
}

.arrow-back {
  display: flex;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  width: 8.5rem;
  height: 2rem;
  padding: 1.5rem 1rem;
  align-items: center;
  gap: 0.5rem;
}

.arrow-back > a {
  display: flex;
  margin-inline: auto;
  gap: 0.625rem;
}

body.dark .arrow-back {
  background: var(--dark-secondary);
}

.details-container {
  display: flex;
  flex-direction: column;
}

.country-details {
  margin-top: 4rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
}

.country-details-img {
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  max-height: 300px;
  max-width: 300px;
}

.country-details-info-main-secondary {
  display: flex;
  flex-direction: column;
}

.country-details-main-info {
  display: flex;
  flex-direction: column;
}

.country-details-secondary-info {
  display: flex;
  flex-direction: column;
  margin-block: 32px;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  line-height: normal;
}

.border-country {
  font-weight: 300;
  font-size: 12px;
  padding-inline: 30px;
  padding-block: 6px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

body.dark .border-country {
  background: var(--dark-secondary);
  color: #fff;
}

.content-container {
  margin-inline: auto;
}

@media screen and (min-width: 1400px) {
  .country-details-img {
    max-height: 450px;
    max-width: 450px;
  }
  .country-details {
    flex-direction: row;
    gap: 144px;
  }
  .country-details-info-main-secondary {
    flex-direction: row;
    gap: 112px;
  }
  .country-details-main-info > span {
    display: flex;
    gap: 4px;
  }
  .country-details-main-info > span > span {
    white-space: nowrap;
  }
  .country-details-secondary-info {
    margin-block: 0px;
  }
  .country-details-secondary-info > span {
    display: flex;
    gap: 4px;
  }
  .country-details-secondary-info > span > span {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1100px) {
  main {
    padding-inline: 5rem;
  }
  .container {
    grid-template-columns: repeat(3, 260px);
  }
}

@media screen and (min-width: 1450px) {
  .container {
    grid-template-columns: repeat(4, 260px);
  }
}
